.fade-up-enter-active,
.fade-up-leave-active {
  transition: all 0.4s;
}
.fade-up-enter, .fade-up-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(20px);
}
